apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: result
  name: result
  namespace: vote
spec:
  replicas: 1
  selector:
    matchLabels:
      app: result
  template:
    metadata:
      labels:
        app: result
    spec:
      containers:
      - name: result
        image: registry.digitalocean.com/voting-app-example/result:<TAG>
        imagePullSecrets:
        - name: voting-app-example-do-registry
        ports:
        - containerPort: 80
          name: result
